
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color:#fff;
}
nav a{
  color: #fff;
  padding: 1rem;
  display: inline-block;
}
nav .menu ul{
  display: flex;
}
nav .burger{
  display: none;
}
main{
  display: flex;
}

main > article{
  width: 70%;
}

main > .sidebar{
  background-color: #ccc;
  flex-grow: 1;
}
@media screen and (max-width:550px){
  main{
    flex-direction: column;
  }
  .menu{
    display: none;
  }
  nav .burger{
    display: block;
  }
}
